# Dependencies
node_modules/
*/node_modules/

# Environment variables
backend/.env
frontend/.env

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Docker
.docker
postgres_data/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build outputs
dist/
build/